<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
	<h2>상품 리스트 출력 예제2</h2>
	<h3>th:if, th:unless 사용</h3>
	<table border="1">
		<thead>
			<tr>
				<td>순번</td>
				<td>상품명</td>
				<td>상품설명</td>
				<td>가격</td>
				<td>상품등록일</td>
			</tr>
		</thead>
		<tbody>
			<!-- th:if=, th:unless= : 조건문 사용 -->
			<tr th:each="itemDto, status: ${itemDtoList}">
				<td th:if="${status.even}" th:text="짝수"></td>
				<td th:unless="${status.even}" th:text="홀수"></td>
				<td th:text="${itemDto.itemName}"></td>
				<td th:text="${itemDto.itemDetail}"></td>
				<td th:text="${itemDto.price}"></td>
				<td th:text="${itemDto.registerTime}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>